$enable-responsive-font-sizes: true;
$gray-600: #8F8F8F;
$blue: #6E84FE;
$display1-size: 4rem;
$lead-font-size: 1.125rem;
$lead-font-weight: normal;
$btn-border-width: 0;
$btn-border-radius: 1.87rem;
$btn-border-radius-lg: 1.87rem;
$btn-border-radius-sm: 1.87rem;

@import "../../node_modules/bootstrap/scss/bootstrap";
$blue-menu: #1E416A;
$blue-titre2: #184670;
$blue-lien: #3999f1;

.text-lead {
  color: $blue-menu;
}
.text-titre {
  color: $blue-titre2;
}

.lien-bleu {
  color: $blue-lien;
  &:hover {
    color: $blue-lien;
  }
}
.lien-menu {
  color: $blue-menu;

  &:hover {
    color: $blue-menu;
  }
}

.img-titre {
  position: relative;
  top: -16px;
}

@include media-breakpoint-up(md) {
  .titre img {
    width: font;
  }
}
.fond {
  background-image: url(/fond.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.objectif {
  position: relative;
  height: 150px;

  &-interieur {
    position: absolute;
    background-color: $white;
    border-radius: 50%;
    z-index: 5;
    width: 130px;
    height: 130px;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
    left: 20px;
    top: 20px;
    width: 120px;
    height: 120px;

    background: linear-gradient(126.76deg, $blue-menu, 42.61%, rgba(216, 216, 216, 0) 83.55%);
    mix-blend-mode: normal;
    transform: rotate(13.5deg);
  }
}

@include media-breakpoint-up(md) {
  .objectif {
    height: 250px;

    &-interieur {
      width: 230px;
      height: 230px;
    }

    &:after {
      left: 70px;
      top: 50px;
      width: 180px;
      height: 180px;
    }
  }
}
.button-infos {
  position: relative;
  left: -15%;
}

footer {
  background-image: url(/footer.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  color: $white;
}
