<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ block "title" . }}
      {{ .Site.Title }}
      {{ end }}</title>
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:700|Work+Sans&display=swap" rel="stylesheet">
    {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
  </head>
  <body>

    <header class="bg-light">

      <div class="bg-white">
        <div class="container">
          <div class="row justify-content-between align-items-center py-2">
            <span class="col text-muted d-none d-sm-block">eva est une startup <a href="https://beta.gouv.fr/" class="lien-bleu">beta.gouv.fr</a></span>
            <span class="col text-right">
              <img src="/marianne.svg" width="60px">
            </span>
          </div>
        </div>
      </div>

      <div class="container pt-3 pb-5">
        <div class="row justify-content-between align-items-center">
          <h1 class="col-2"><a href="/"><img src="/eva.svg" alt="eva" width="73px"></a></h1>

          <div class="col text-right d-block d-sm-none menu-toggle">
            <a href="#" class="lien-menu font-weight-bold">Menu</a>
          </div>
          <nav class="col text-right d-none d-sm-block">
          {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
              <a class="ml-5 font-weight-bold lien-menu {{ if $currentPage.IsMenuCurrent "main" . }}actif{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}
          </nav>
        </div>
      </div>
    </header>

    <nav class="bg-light d-block d-sm-none menu-content hidden">
    {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        <a class="ml-5 font-weight-bold lien-menu {{ if $currentPage.IsMenuCurrent "main" . }}actif{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
      {{ end }}
    </nav>

    <main>
      {{ block "main" . }}{{ end }}
    </main>

    <footer class="py-5 {{ if isset .Params "footerclass" }} {{ .Params.footerclass }} {{ end }}">
      <div class="container pt-5">
        <div class="d-flex flex-column flex-md-row justify-content-between">
          <div>
            <h1>Éva</h1>
            <p>
              <a href="https://github.com/betagouv/competences-pro/" class="lien-blanc-inverse">Le code source est libre.</a><br>
              Le porteur administratif est le Haut-commissaire aux compétences et à l’inclusion par l’emploi.<br>
              L'incubateur est <a href="https://beta.gouv.fr/incubateurs/dinsic.html" class="lien-blanc-inverse">L'Incubateur de Services Numériques</a>.<br>
            </p>
            <p>
              <a href="mailto:{{ .Site.Params.ContactMail }}" class="lien-blanc-inverse">Contacter l’équipe</a>.
            </p>
          </div>
          <div class="d-flex align-items-center justify-content-md-end">
            <img src="/marianne.svg" class="bg-white">
          </div>
        </div>
      </div>
    </footer>
    <script>
      var classChildren = function classChildren(x) {
        return document.getElementsByClassName('menu-' + x)[0];
      };

      classChildren('toggle').addEventListener('click', function (e) {
        e.preventDefault();
        classChildren('content').classList.toggle('hidden');
      }, false);
    </script>
  </body>
</html>
