<div class="fond pt-5">
  <div class="container">
    <div class="row justify-content-between pt-5 pb-3">
      <div class="col-xl-3">
        <div class="pastille">
          <div class="pastille-interieur d-flex align-items-center justify-content-center">
            <img src="/objectif1.svg">
          </div>
        </div>
        <h1 class="h3 text-white font-weight-bold mt-xl-5 pt-xl-5">Comment ?</h1>
        <p class="lead text-lead">{{ .objectif1 }}</p>
      </div>

      <div class="col-xl-3">
        <div class="pastille">
          <div class="pastille-interieur d-flex align-items-center justify-content-center">
            <img src="/objectif2.svg">
          </div>
        </div>
        <h1 class="h3 text-white font-weight-bold mt-xl-5 pt-xl-5">Pour qui ? </h1>
        <p class="lead text-lead">{{ .objectif2 }}</p>
      </div>

      <div class="col-xl-3">
        <div class="pastille">
          <div class="pastille-interieur d-flex align-items-center justify-content-center">
            <img src="/objectif3.svg">
          </div>
        </div>
        <h1 class="h3 text-white font-weight-bold mt-xl-5 pt-xl-5">Pourquoi ?</h1>
        <p class="lead text-lead">{{ .objectif3 }}</p>
      </div>
    </div>

    <div class="row mt-5 mb-2">
      <div class="col-12 col-sm-6 col-md-8 text-center">
        <h2 class="text-titre">Plus d'informations</h2>
      </div>
    </div>

    <div class="row align-items-center pb-5">
      <div class="col-12 col-sm-6 col-md-8 text-center">
        <img class="mw-100 illustration" src="/informations.jpg">
      </div>
      <div class="col-12 col-sm-6 col-md-4 button-infos">
        <a class="btn btn-primary btn w-100 text-left mb-2 pl-3" href="qui-sommes-nous">Qui sommes-nous ?<img class="icon-right" src="/fleche.svg"></a>
        <a class="btn btn-primary btn w-100 text-left mb-2 pl-3" href="{{ site.Params.AppUrl }}">Accès utilisateurs</a>
      </div>
    </div>
  </div>
</div>
