<div class="bg-primary">
  {{ partial "transition.html" .transition }}

    <div class="container py-5">
      <div class="row">
        <div class="col-md-6">
          <div class="pastille pastille-xl">
            <div class="pastille-interieur d-flex align-items-center justify-content-center">
              <img class="img-cover" src="{{ .image }}">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          {{ range $block := .blocks }}
          <h2 class="text-white">{{ $block.titre }}</h2>
          <p class="text-white lead">{{ safeHTML $block.contenu }} </p>
          {{ end }}
        </div>
      </div>
    </div>
</div>
