<div class="bg-bleu-fonce">
  <div class="container">
    <div class="row py-5">
      <div class="col col-12 bg-light rounded p-5 text-bleu-fonce">
        <div class="row">
          <div class="col col-lg-6 mb-4 text-primary d-none d-md-block">{{ .header_questions | markdownify }}
          </div>
          <div class="col col-lg-6 mb-4 text-primary d-none d-md-block">{{ .header_reponses | markdownify }}
          </div>
        </div>
        <div class="row">
          <div class="col col-12 col-lg-6 mb-4 lead">{{ .question1 | markdownify }}</div>
          <div class="col col-12 col-lg-6 mb-4">{{ .reponse1 | markdownify }}</div>
        </div>
        <div class="row">
          <div class="col col-12 col-lg-6 mb-4 lead">{{ .question2 | markdownify }}</div>
          <div class="col col-12 col-lg-6 mb-4">{{ .reponse2 | markdownify }}</div>
        </div>
        <div class="row mb-4">
          <img src="{{ .image }}" class="image-reponsive" alt="" />
        </div>
        <div class="row">
          <div class="col col-12 col-lg-6 mb-4 lead">{{ .question3 | markdownify }}</div>
          <div class="col col-12 col-lg-6 mb-4">{{ .reponse3 | markdownify }}</div>
        </div>
        <div class="row">
          <div class="col col-12 col-lg-6 mb-md-0 mb-4 lead">{{ .question4 | markdownify }}</div>
          <div class="col col-12 col-lg-6">{{ .reponse4 | markdownify }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
