<div class="bg-light">
  {{ partial "transition.html" .transition }}
  <div class="container">
    <div class="row pt-5">
      <div class="col col-12 col-lg-2 text-center mb-md-0 mb-4">
        {{ if .image }}
        <img class="image-cas-usage" src="{{ .image }}" />
        {{ end }}
      </div>
      <div class="col col-12 col-lg-10">
        <h4 class="font-weight-bold text-orange">
          {{ .titre }}
        </h4>
        <h1 class="font-weight-bold text-bleu-fonce">
          {{ .nom_prenom_fonction }}
        </h1>
        {{ if .citation }}
        <q class="text-primary h1 font-weight-bold">
          {{ .citation }}
        </q>
        {{ end }}
      </div>
    </div>
  </div>
</div>
