<div class="bg-light">
  {{ partial "transition.html" .transition }}
  <div class="container pt-5">
    <div class="row">
      <h1 class="col-11 display-1 font-weight-bold text-primary">
        {{ .titre }}
      </h1>
      {{ if .image }}
        <div class="col-1 text-right"><img src="{{ .image }}"></div>
      {{ end }}
    </div>
    {{ if .contenu }}
      <div class="row">
        <div class="col col-lg-10 lead text-lead">{{ .contenu | markdownify }}</div>
      </div>
    {{ end }}
    {{ if .lienApp }}
    <a class="btn btn-primary btn w-25 text-left pl-3" href="{{ site.Params.AppUrl }}">Accéder à eva<img src="/fleche.svg" class="icon-right"></img></a>
    {{ end }}
  </div>
</div>
