<div class="bg-light">
  {{ partial "transition.html" .transition }}
  <div class="container pt-5">
    <div class="row">
      <h1 class="col-11 font-weight-bold text-primary">
        {{ .titre }}
      </h1>
      {{ if .image }}
        <div class="col-1 text-right"><img src="{{ .image }}"></div>
      {{ end }}
    </div>
    {{ if .contenu }}
      <div class="row">
        <div class="col col-lg-10 lead text-lead">{{ .contenu | markdownify }}</div>
      </div>
    {{ end }}
    {{ if .lienLivestorm }}
      <div class="row">
        <div class="col col-8 col-md-6 col-lg-4 lead text-lead">
          <a class="btn btn-primary btn w-100 text-left mt-3 pl-3" href="{{ site.Params.livestorm }}">
            {{ site.Params.libelleLivestorm }}
            <img src="/fleche.svg" class="icon-right"/>
          </a>
        </div>
      </div>
    {{ end }}
  </div>
</div>
