<div class="bg-green">
  {{ partial "transition.html" .transition }}

  <div class="container">
    <h2 class="text-center text-white">{{ .entete.titre }}</h2>
    <p class="lead text-center text-white">{{ .entete.contenu }}</p>

    <div class="py-5">
      {{ range $definitions := .definitions }}
      <div class="row">
        {{ $first := index $definitions 0 }}
        <div class="col-md-2 order-md-2 text-md-center">
          <img src="{{ $first.image }}" />
        </div>
        <div class="col-md-4 order-md-first">
          <a href="{{ $first.page }}"><h3 class="text-white text-md-right">{{ $first.titre }}</h3></a>
          <p class="lead text-md-right">{{ $first.contenu }}</p>
        </div>

        {{ $second := index $definitions 1 }}
        {{ if $second }}
          <div class="col-md-2 order-md-3 text-md-center">
            <img src="{{ $second.image }}" />
          </div>
          <div class="col-md-4 order-md-last">
            <a href="{{ $second.page }}"><h3 class="text-white">{{ $second.titre }}</h3></a>
            <p class="lead">{{ $second.contenu }}</p>
          </div>
        {{ end }}
      </div>
      {{ end }}
    </div>

  </div>
</div>
